thead.ant-table-thead th.ant-table-cell {
  background-color: #e2e2e2;
  border-radius: 0px !important;
}

thead.ant-table-thead th.ant-table-cell::before,
thead.ant-table-thead th.ant-table-cell::after {
  display: none !important;
}

.rowClassName1:nth-child(even) {
  background-color: #fafafa;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #4006b2 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4006b2;
  border-color: #4006b2;
}

.ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: #4006b2 !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #4006b2 !important;
}

.ant-table-row-selected .ant-table-cell {
  background-color: rgba(64, 6, 178, 0.2) !important;
}

.ant-table-cell-row-hover {
  background-color: rgba(64, 6, 178, 0.4) !important;
  cursor: pointer;
}

.ant-table-cell.ant-table-selection-column {
  width: 48px;
}

.ant-table-thead .ant-table-cell {
  font-weight: 700 !important;
}

.styleTable .ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
  background-color: #f0f0f7;
}
