.customCheckbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4006b2 !important;
}
.customCheckbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #4006b2 !important;
}
.ant-checkbox .ant-checkbox-inner {
  border-radius: 2px !important;
  border: 1px solid #979797 !important;
}
.customCheckbox span {
  display: flex !important;
}
