.customDate .ant-picker-date-panel th:last-child {
  color: red;
}
.customDate .ant-picker-date-panel td:last-child:where(.ant-picker-cell-in-view) {
  color: red !important;
}
.customDate .ant-picker-date-panel .ant-picker-cell {
  color: #8c8c8c;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 22.4px !important;
}
.customDate .ant-picker-date-panel .ant-picker-cell-in-view {
  color: #1e1e1e !important;
}
.customDate .ant-picker-date-panel .ant-picker-header-view button.ant-picker-year-btn {
  display: none !important;
}
.customDate .ant-picker-header-view button:hover {
  color: #4006b2 !important;
}
.customDate .ant-picker-date-panel .ant-picker-header-view button.ant-picker-year-btn {
  display: inline;
}
.customDate .ant-picker-date-panel .ant-picker-header-super-prev-btn {
  display: none !important;
}
.customDate .ant-picker-month-panel .ant-picker-header-super-prev-btn {
  margin-left: 30px;
}
.customDate .ant-picker-month-panel .ant-picker-super-next-icon::after {
  display: none !important;
}
.customDate .ant-picker-month-panel .ant-picker-super-prev-icon::after {
  display: none !important;
}
.customDate .ant-picker-date-panel .ant-picker-header-prev-btn {
  margin-left: 20px;
}
.customDate .ant-picker-date-panel .ant-picker-header-super-next-btn {
  display: none !important;
}
.customDate .ant-picker-month-panel .ant-picker-header-super-next-btn {
  margin-right: 30px;
}
.customDate .ant-picker-date-panel .ant-picker-header-super-next-btn {
  display: none !important;
}
.customDate .ant-picker-date-panel .ant-picker-header-next-btn {
  margin-right: 20px;
}
.customDate .ant-picker-header {
  border-bottom: none;
}
.customDate .ant-picker-date-panel tr th:nth-child(-n + 6) {
  color: #8c8c8c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 22.4px !important;
}
.customDate .ant-picker-date-panel .ant-picker-header button span {
  color: #000000;
}
.customDate .ant-picker-header button {
  color: #000000;
}
.customDate .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #4006b2 !important;
  border-radius: 50%;
}
.customDate .ant-picker-date-panel .ant-picker-cell {
  width: 32px !important;
  height: 32px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.customDate .ant-picker-date-panel .ant-picker-cell-inner {
  width: 32px !important;
  height: 32px !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.customDate .ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #4006b2 !important;
  border-radius: 50% !important;
}
.ant-picker:focus-within {
  border-color: #4006b2;
  box-shadow: 0 0 3px #4006b2 !important;
}
.ant-picker:hover {
  border-color: #333333;
}
.customDate .ant-picker-month-panel .ant-picker-cell {
  width: 32px !important;
  height: 32px !important;
}
.customDate .ant-picker-month-panel .ant-picker-cell-inner {
  width: 32px !important;
  height: 32px !important;
  margin: auto !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
