.customDropdown .ant-select-selector:hover {
  border-color: #333333 !important;
}
.customDropdown .ant-select-selector:focus-within {
  border-color: #4006b2 !important;
  box-shadow: 0 0 3px #4006b2 !important;
}
.customDropdown span {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 25.6px !important;
  color: #1e1e1e !important;
}
.ant-select-dropdown .ant-select-item {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 25.6px !important;
  color: #1e1e1e !important;
  border-radius: 0 !important;
}
.ant-select-dropdown .ant-select-item-option-selected {
  background-color: #f6f6f6 !important;
}
.ant-select-dropdown {
  box-shadow: 0 0 8px #00000026 !important;
}
.ant-select-open .ant-select-arrow {
  transform: rotate(180deg);
}
.ant-select-selector .ant-select-selection-placeholder {
  color: #8c8c8c !important;
}
