@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ecebeb;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(6, 31, 48, 0.4);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
* {
  box-sizing: border-box;
}

@layer components {
  .sidebar {
    @apply fixed left-0 top-0 flex h-screen
         w-[76px] flex-col items-center space-y-8 overflow-auto  overflow-x-hidden 
         border border-r-2 border-r-slate-200 bg-gray-300 px-3
         shadow-md
        shadow-black;
  }
  .sidebar-lg {
    @apply w-[300px] !important;
  }
  .sidebar-item {
    @apply flex w-full cursor-pointer items-center  justify-center rounded-xl px-5  py-2;
  }
  .sidebar-item-lg {
    @apply justify-normal !important;
  }
  .sidebar-item:hover {
    @apply bg-gray-400;
  }
  .sidebar-item-active {
    @apply bg-[#063768] text-white !important;
  }
  .nav-bar {
    @apply fixed left-0 top-0 flex h-[4rem]   w-full
    border  border-b-slate-200  bg-gray-300 
    pl-[302px] shadow-sm shadow-neutral-500;
  }
  .nav-bar-shrink {
    @apply pl-[76px];
  }
  .content-default-mode {
    @apply pl-[302px] pr-1 pt-4.6rem;
  }
  .content-shrink-mode {
    @apply pl-[76px] pr-1 pt-4.6rem;
  }
  .statement-upper-medium {
    @apply font-semibold;
  }
  .statement-medium {
    @apply font-medium;
  }
  .statement-bold {
    @apply font-bold;
  }
  .h1 {
    @apply text-4em font-bold;
  }
  .h2 {
    @apply text-3em font-bold;
  }
  .h3 {
    @apply text-1.5em font-bold;
  }
  .h4 {
    @apply text-1.17em font-bold;
  }
  .h5 {
    @apply text-0.83em font-bold;
  }
  .h6 {
    @apply text-0.67em font-bold;
  }
}
